<section class="header">
  <a href="#" class="logo"><h2>Blank travels</h2></a>
</section>
<section class="banner">
  <img src="https://images.unsplash.com/photo-1612346931714-794a7f8c276b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="fitBg">
  <div class="content">
    <h2>Explore the World <br> with me</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Ipsa corrupti eveniet, ea enim nobis rem consectetur fugit nesciunt necessitatibus,
  sunt itaque sint optio, accusamus ducimus, dignissimos ex deserunt at dolor.</p>
  <button type="button" class="btn btn-light">Learn more</button>
  </div>
</section>
<section class="about">
  <div class="contentBx">
    <h2 class="titleText">Feel the beauty of the World</h2>
    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Ipsa corrupti eveniet, ea enim nobis rem consectetur fugit nesciunt necessitatibus,
    sunt itaque sint optio, accusamus ducimus, dignissimos ex deserunt at dolor.Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    <br>
    Ipsa corrupti eveniet, ea enim nobis rem consectetur fugit nesciunt necessitatibus,
    sunt itaque sint optio, accusamus ducimus, dignissimos ex deserunt at dolor.</p>
    <a href="#" class="btn btn-light">Popular Destination</a>
  </div>
  <div class="imgBx">
    <img src="https://images.unsplash.com/photo-1601369434554-71291bd39188?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="fitBg">
  </div>
</section>
<!-- <section class="banner2">
  <img src="https://images.unsplash.com/photo-1612702011905-9f067f34fc33?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="fitBg">
</section> -->
<section class="destination">
  <div class="content">
    <h2 class="titleText">Most popular</h2>
    <p class="text">Some description here</p>
  </div>
  <div class="destinationList">
    <div class="box">
      <div class="imgBx">
        <img src="https://images.unsplash.com/photo-1596023397605-709cadaa4fce?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="fitBg">
      </div>
      <div class="content">
        <h2>Lindos<br><span>Greece</span></h2>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="https://images.unsplash.com/photo-1610393813108-fc9e481ce228?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="fitBg">
      </div>
      <div class="content">
        <h2>Tahko<br><span>Finland</span></h2>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="https://images.unsplash.com/photo-1604934627500-d93d013f88eb?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="fitBg">
      </div>
      <div class="content">
        <h2>Lisbon<br><span>Portugal</span></h2>
      </div>
    </div>
  </div>
</section>
<div class="footer">
  <div class="footer-links">
  </div>
  <div>
    This website is made with love by Lena Blank
  </div>
</div>

