<div class="create-article-big-container" style="margin: 4%;">
  <h2>Create an article</h2>
  <div class="create-article-form" style="padding: 2%;">
    <%= render 'form' %>
  </div>


  <%= link_to 'Back', articles_path %>
</div>
